{% extends 'base.html' %}
{% block title %}MedicareAI{% endblock title %}
{% block body %}


<div style="height: 80vh;">
    {% load static %}
    <a href="logoutuser">
        <button class="btn btn-outline-danger position-absolute top-0 end-0 mt-3 mx-3 btn-sm"><i
                class="bi bi-box-arrow-right me-2"></i>Logout</button>
    </a>
    <div class="row justify-content-evenly mt-5">
        <div class="col col-12 mt-5">
            <h1 class="display-3 text-center"> Welcome to MedicareAI</h1>
        </div>
    </div>
    <div class="row justify-content-evenly mt-3">
        <div class="col col-12">
            <p class="text-center fs-6"> -Enhancing the Covid19 diagnosis using the power of GANs and Deep Learning</p>
        </div>
    </div>

    <div class="row justify-content-evenly mt-3">
        <div class="col col-md-5 align-self-center">
            <form method="POST" action = 'home' enctype="multipart/form-data">
                {% csrf_token %}
                <label for="formFile" class="form-label">Please choose your file</label>
                <input class="form-control" type="file" name="upload" accept=".png"  required onchange="loadFile(event)">
                <p style="display: flex; justify-content: center;" class="my-3"><img id="output" width="200" /></p>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success mt-1"
                        style="margin-bottom: 10px;">Submit</button>
                        
                </div>
            </form>
        </div>
    </div>

    {% if show %}
       <div class="row mt-3 justify-content-evenly">
        
        <div class="col col-md-4">
            <div style="display:flex; justify-content: center;">
                {% if file_path %}
                    <img src= "{{ file_path }}" alt="" height="200" >
                {% endif %}
            </div>

            <p class="fs-6 mb-0 mt-3">Covid: {{ pred.Covid }}</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pred.Covid }}%" aria-valuenow={{
                    pred.Covid }} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="fs-6 mb-0  mt-3">Normal: {{ pred.Normal }}</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ pred.Normal }}%"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="fs-6 mb-0 mt-3">Viral Pneumonia: {{ pred.Viral_Pneumonia }}</p>
            <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ pred.Viral_Pneumonia }}%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br><br>
            {% if present_values %}
                <div id="description"></div><br><br>
                <div id="symptoms"></div><br><br>
                <div id="solutions"></div>
                <script>
                    var description = "{{ description }}";
                    var symptoms = "{{ symptoms }}";
                    var solutions = "{{ solutions }}";

                    var variable = '&lt;br&gt;';
                    
                    while (description.includes(variable) == true){
                        description = description.replace(variable, '<br>')
                    }
                    while (symptoms.includes(variable) == true){
                        symptoms = symptoms.replace(variable, '<br>')
                    }
                    while (solutions.includes(variable) == true){
                        solutions = solutions.replace(variable, '<br>')
                    }

                    console.log(description);
                    console.log(symptoms);
                    console.log(solutions);

                    document.getElementById("description").innerHTML = description;
                    document.getElementById("symptoms").innerHTML = symptoms;
                    document.getElementById("solutions").innerHTML = solutions;
                </script>
            {% endif %}
    
        </div>

    </div>

    {% endif %}

</div>
{% endblock body %}
</body>
</html>

                <!-- <div style="display:flex; justify-content: center;"> -->
                    <!-- <div class="col col-md-4"></div> -->


                    <!-- <p>{{ description }}</p>
                    <p>{{ symptoms }}</p>
                    <p>{{ solutions }}</p> -->