<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>SignUp | MedicareAI</title>

    <style>
      :root {
    --primary-color: rgba(247, 253, 255, 0.897);
    --secondary-color: white;
    --text-color: black;
  }
      body{
    background: url('../media/covid_blue_header.jpg') center/cover no-repeat fixed !important;
  }

  .signupForm{
    background-color: var(--primary-color);
  }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0"
        role="alert"
      >
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% if error %}
      <div
        class="alert alert-danger alert-dismissible fade show mt-1"
        role="alert"
      >
        <strong>Please fill all the fields</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %}
      <div class="row" style="min-height: 100vh">
        <div
          class="signupForm col col-md-3 col-lg-5 align-self-center mx-auto border rounded-3 p-5 shadow"
        >
          <p class="display-6 text-center">SignUp</p>
          <form action="signup" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputfirstname" class="form-label"
                >First Name</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputfirstname"
                name="fname"
                value="{{data.fname}}"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputlastname" class="form-label"
                >Last Name</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputlastname"
                name="lname"
                value="{{data.lname}}"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputusername" class="form-label"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputusername"
                name="username"
                value="{{data.username}}"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                name="email"
                value="{{data.email}}"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="pass1"
                value="{{data.pass1}}"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="pass2"
                value="{{data.pass2}}"
              />
            </div>

            <button type="submit" class="btn btn-outline-primary">
              SignUp
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
